@model FrontEnd.Models.TbEmpleadoViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Empleados</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-person-plus"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Empleado</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<!--page main-->
<div class="row">
    <div class="col-sm-12">

        <!--Inicio tarjeta-->
        <div class="card">
            <h6 class="card-header mb-0 text-uppercase">Detalle Empleado</h6>
            <div class="card-body">
                <div class="responsive">

                    <div class="row">
                        <div class="col-md-8">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.IdEmpleado)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.IdEmpleado)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Cedula)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Cedula)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.RutaFoto)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.RutaFoto)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Nombre)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Apellido1)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Apellido1)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Apellido2)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Apellido2)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.TelefonoEmpleado)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.TelefonoEmpleado)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.CorreoEmpleado)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CorreoEmpleado)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Direccion)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Direccion)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.NombreContacto)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.NombreContacto)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.TelefonoContacto)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.TelefonoContacto)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.IdRol)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.TbRol.NombreRol)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Activo)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Activo)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.IdEmpleado }, new { @class="btn btn-warning"}) |
                        @Html.ActionLink("Regresar", "Index","TbEmpleado", null, new { @class="btn btn-primary"})
                    </div>

                </div>
            </div>
            <!--Fin tarjeta-->

        </div>
    </div>
</div>
<!--end page main-->