@model FrontEnd.Models.TbClienteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Gestión</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-person-square"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Detalle Cliente</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<!--page main-->
<div class="row">
    <div class="col-sm-12">
        <!--Inicio tarjeta-->
        <div class="card">
            <h6 class="card-header mb-0 text-uppercase">Ver Cliente</h6>
            <div class="card-body">
                <div class="responsive">
                    <div class="row">
                        <div class="col-md-8">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.IdCliente)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.IdCliente)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.NombreCliente)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.NombreCliente)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.CorreoCliente)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.CorreoCliente)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.PersonaContacto)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.PersonaContacto)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.DireccionCliente)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.DireccionCliente)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.TelefonoCliente)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.TelefonoCliente)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Activo)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Activo)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.IdCliente }, new { @class="btn btn-warning"}) |
                        <a asp-action="Index"><button class="btn btn-primary">Regresar</button></a>
                    </div>
                </div>
            </div>
            <!--Fin tarjeta-->
        </div>
    </div>
</div>
<!--end page main-->