@model FrontEnd.Models.TbRolViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Empleados</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-people"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Roles</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<!--page main-->
<div class="row">
    <div class="col-sm-11">

        <!--Inicio tarjeta-->
        <div class="card">
            <h6 class="card-header mb-0 text-uppercase">Ver Roles</h6>
            <div class="card-body">
                <div class="responsive">
                    <div class="row">
                        <div class="col-md-8">
                            <dl class="row">
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.IdRol)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.IdRol)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.NombreRol)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.NombreRol)
                                </dd>
                                <dt class="col-sm-3">
                                    @Html.DisplayNameFor(model => model.Activo)
                                </dt>
                                <dd class="col-sm-9">
                                    @Html.DisplayFor(model => model.Activo)
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <br />
                    <div>
                        @Html.ActionLink("Editar", "Edit", new { id = Model.IdRol }, new { @class="btn btn-warning"}) |
                        @Html.ActionLink("Regresar", "Index","TbRol", null, new { @class="btn btn-primary"})
                    </div>

                </div>
            </div>
            <!--Fin tarjeta-->

        </div>
    </div>
</div>
<!--end page main-->
