@model FrontEnd.Models.TbVentaViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
    <div class="breadcrumb-title pe-3">Facturación</div>
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a href="javascript:;"><i class="bi bi-bag-check"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Ventas</li>
            </ol>
        </nav>
    </div>
</div>
<!--end breadcrumb-->

<!--page main-->
<div class="row">
    <div class="col-sm-12">
        <h3>Esta seguro que desea eliminar esta venta?</h3>
        <div>
            <hr />

            <!--Inicio tarjeta-->
            <div class="card">
                <h6 class="card-header mb-0 text-uppercase">Eliminar Venta</h6>
                <div class="card-body">
                    <div class="responsive">
                        <div class="row">
                            <div class="col-md-8">
                                <dl class="row">
                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.IdVenta)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.IdVenta)
                                    </dd>
                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.FechaVenta)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.FechaVenta)
                                    </dd>
                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.MontoTotal)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.MontoTotal)
                                    </dd>
                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.Estado)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.Estado)
                                    </dd>
                                    <dt class="col-sm-3">
                                        @Html.DisplayNameFor(model => model.IdClienteV)
                                    </dt>
                                    <dd class="col-sm-9">
                                        @Html.DisplayFor(model => model.TbCliente.NombreCliente)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        <form asp-action="Delete" id="formulario" onsubmit="enviarFormulario(event)">
                            @Html.HiddenFor(model => model.IdVenta)
                            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                            @Html.ActionLink("Regresar", "Index","TbVenta", null, new { @class="btn btn-primary"})
                        </form>
                    </div>
                </div>
            </div>
            <!--Fin tarjeta-->
        </div>
    </div>
</div>
<!--end page main-->
@section Scripts{
    <script src="~/assets/js/confirmarEliminar.js"></script>
    }